#fond-logo{
  background-color: black;
  overflow: auto;
}

#logo-entier{
  float: left;
}

#logo-titre{
  float: right;
}

#header-page{
  height: 80vh;
  max-height: 80vh;
  background-image: url('../../assets/img/image-fond.jpg');
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  width: auto;
  height: auto;
  max-height: auto;
  max-width: auto;
}
#background-header {

}
