#fond-logo{
  background-color: black;
  overflow: auto;
}

#logo-entier{
  float: left;
}

#logo-titre{
  float: right;
}

#header-page{
  min-height: 80vh;
  height: 80vh;
  max-height: 80vh;
  background-image: url('../../../assets/img/image-fond.jpg');
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  width: auto;
  height: auto;
  max-height: auto;
  max-width: auto;
}

#info{
  margin-top: 10%;
}

#title{
  color: white;
  text-align: center;
  margin: 5vh;
  font-size: 4em;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black; // Simule un contour
}


#text-presentation{
  color: white;
  text-align: center;
  margin: 5vh;
  margin-left: 15vw;
  margin-right: 15vw;
  font-size: 2vw;
  text-shadow: 1px 1px 0 black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black; // Simule un contour

}
