#map {
    width: 75vw;
    height: 85vh;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    // permet de centrer la map
    margin: 1%;
    float: right;

}

.label {
  margin-top: 600px;
  font-size: 100px;
}
