<div class="header Header">
  <ul>
    <li><img class="btn btn-outline-dark" src="#">bouton footer</li>
    <li><a class="btn btn-outline-dark" href="#">bouton footer</a></li>
    <li><a class="btn btn-outline-dark" href="#">bouton footer</a></li>
  </ul>
  <input [(ngModel)]="searchTerm" (keyup.enter)="search()" placeholder="Search...">
</div>

<div>
  <div>
    <h4>Positions</h4>
  </div>

    <div>
        <ul>
            <li *ngFor="let result of searchResult" (click)="fetch(result.split('[')[1].split(']')[0]);">{{result}}</li>
        </ul>
        <table class="table-bordered">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Id</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{Pos?.info?.satname}}</td>
                    <td>{{Pos?.info?.satid}}</td>
                    <td>{{(positions$ | async)?.satlatitude}}</td>
                    <td>{{(positions$ | async)?.satlongitude}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div>
    <div>
        <h4>Infos</h4>
    </div>
    <div>
        <table class="table-bordered">
            <thead>
                <tr>
                    <th *ngFor="let item of descInfos | keyvalue">{{ item.key }}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td *ngFor="let item of descInfos | keyvalue">
                        <img *ngIf="item.key === 'img'" [src]="item.value" alt="Image">
                        <a *ngIf="item.key === 'site'" [href]="item.value" target="_blank">{{ item.value }}</a>
                        <span *ngIf="item.key !== 'img' && item.key !== 'site'">{{ item.value }}</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
