#recherche-sat{
  background: white;
}
input{
  outline: none;
  width: 100%;
}
.search-bar{
  margin-left: 1vw;
  width: 30vw;
}

.card-coin{
  margin: 1%;
  border-radius: 10px;
}
.card-hearder{
  background-color: #384177;
}
.card-title{
  margin: 3%;
}
.list-group-item{
  color: black;
  text-align: left;
}

#next-map{
  float: left;
  width: 22vw;
  margin-left: 1vw;
  margin-top: 1vw;
  max-height: 85vh;
}

#result-recherche:hover {
  font-weight: bold;
  cursor: pointer;

}

.card-infos{
  width: 55%;
  float: left;
  clear: left;
}
.card-detail{
  width: 41%;
  float: right;
  clear: right;
}

#img-satellite{
  width: 100%;
  height: auto;
}


